<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    bootstrap="vendor/autoload.php"
    stopOnError="false"
    stopOnFailure="false" 
>
    <testsuites>
        <testsuite name="Billow">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/Billow</directory>
        </whitelist>
    </filter>
</phpunit>
